@font-face {
	font-family: Lady_Radical;
	src: url(Fonts/Lady_Radical.ttf);
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,
body {
	background-color: #3A3D3D;
	color: #fff;
	font-family: 'Lady_Radical', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-align: center;
	text-transform: lowercase;
}

.main-nav {
	width: 100%;
	background-color: rgba(52, 54, 54, 0.98);
	box-shadow: 0 2px 2px #292929;
	z-index: 9999;
	padding: 15px;
	position: relative;
	list-style: none;
	text-align: center;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
	text-transform: uppercase;
	font-size: 120%;
}

.main-nav img {
	width: 60px;
}

.main-nav li a:link,
.main-nav li a:visited {
	text-decoration: none;
	color: #fff;
	border-bottom: 3px solid transparent;
	-webkit-transition: border-bottom 0.2s;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 3px solid #fff;
}

h1,
h2,
h3 {
	font-family: 'Lady_Radical', sans-serif;
}

.heading {
	margin: 0 auto 35px auto;
	padding-top: 250px;
	font-size: 380%;
}

h2 {
	word-spacing: 20px;
	font-size: 210%;
	margin: 25px;
}

p {
	letter-spacing: 0.8px;
	margin: 0 auto;
	width: 65%;
	font-size: 120%;
	text-transform: none;
}

.team-container {
	max-width: 1140px;
	margin: 0 auto;
}

.team-member-row {
	padding: 15px 25% 15px 35%;
	border-bottom: 1px solid #fff;
	margin-bottom: 15px;
}

.team-container h3 {
	vertical-align: middle;
	float: right;
	width: 50%;
}

.user-image {
	width: 56px;
	float: left;
}

.link-image {
	position: relative;
	animation: MoveUpDown 1s linear infinite;
	margin: 0 auto;
}

@keyframes MoveUpDown {
	0% {
		transform: translate3d(0, -0, 0);
	}
	50% {
		transform: translate3d(0, -10%, 0);
	}
	100% {
		transform: translate3d(0, -0, 0);
	}
}
