@font-face {
	font-family: Lady_Radical;
	src: url(Fonts/Lady_Radical.ttf);
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,
body {
	background-color: #3A3D3D;
	color: #fff;
	font-family: 'Lady_Radical', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-align: center;
	text-transform: uppercase;
}

header {
	padding: 15px;
}

h1,
h2,
h3 {
	font-family: 'Lady_Radical', sans-serif;
}

h1 {
	font-size: 250%;
}

h2 {
	word-spacing: 20px;
	font-size: 190%;
	margin: 25px;
}

p {
	letter-spacing: 0.8px;
	margin: 0 auto;
	width: 80%;
	font-size: 140%;
	text-transform: none;
}

.team-container {
	max-width: 1140px;
	margin: 0 auto;
}

.team-member-row {
	padding: 15px 275px 15px 275px;
	border-bottom: 1px solid #fff;
	margin-bottom: 15px;
}

.team-container h3 {
	vertical-align: middle;
	float: right;
	width: 50%;
}

.user-image {
	vertical-align: middle;
	width: 56px;
	float: left;
}

.animated-image {
	height: 250px;
	position: absolute;
	left: 42%;
	animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
	0% {
		top: 65%;
	}
	50% {
		top: 68%;
	}
	100% {
		top: 65%;
	}
}
